{% extends "main.html" %}
{% block content %}

{% include "header.html" %}

		<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ sports.name }}
			<!---
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Menu creator's name goes here</figcaption>
			</figure>
		-->
			</h1>

		</div>
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			Login to edit sport name, add/edit positions, add new players

		</div>
		<div class="col-md-7"></div>
	</div>




	{% if positions !=[] %}
		<div class="row">
			<div class="col-md-1">
			</div>
				<div class="col-md-3">
					{% for position in positions %} 
							<h2>Position: {{position.name}}</h2>
								login to edit position
								
								
								login to Delete Position
									
								{% for player in players %}
									{% if player.position == position %}
										<div class="player">
											<h3>{{player.name}}</h3>
												<p>
													
														login to Edit Player
													
													
														login to Delete Player
													
												</p>
												<p>
													<img src = "{{player.picture}}" alt = "{{player.name}}" height = 50px width=50px>
												</p>
										</div>

								<br></br>
									{% endif %}
								{% endfor %}	
					{% endfor %}
				</div>
				
		</div>									


			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}