{% extends "main.html" %}
{% block content %}

{% include "header.html" %}

		<div class="row banner menu">
		<div class="col-md-12">
			<h1>{{ sports.name }}
			<!---
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Menu creator's name goes here</figcaption>
			</figure>
		-->
			</h1>

		</div>
	</div>

	<div class="row padding-top padding-bottom">
		
		<div class="col-md-12 padding-none">
			<a href="{{url_for('showLogin')}}">Login to edit sport name, add/edit positions, add new players</a>
		</div>
		
	</div>




	{% if positions !=[] %}
				<ul id= "positions" class ="row">
						{% for position in positions %}
							
							<li class = "col-md-3">
									<h2>{{position.name}} 
										<span>
											<a href="{{url_for('showLogin')}}">Login to modify</a>
										</span>
									</h2>


									<ul id="players" class = "row">
										{% for player in players %}
											{% if player.position == position %}
												
													<li class ="col-md-12"> <h4>{{player.name}}</h4> 
														<p>
															<a href="{{url_for('showLogin')}}">Login to modify</a>
														</p>
														<p>
															<img src = "{{player.picture}}" alt = "{{player.name}}" height = 50px width=50px>
														</p>
													</li>
												
											{% endif %}
										{% endfor %}
									</ul>
							</li>		
						{% endfor %}
				</ul>	
			</div>
				
									

	{% endif %}
{% endblock %}