{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	

	<div class="row divider blue">
		<div class="col-md-2"></div>
	</div>
	<div class="row banner main">
		<div class="col-md"></div>
		<div class="col-md-11 padding-none" id="sportName">
			<h1>All Sports</h1>
		</div>
	</div>
	
<div class = "row">
	
		<div class = "col-md-3">
			<div class = "flash">
				    {% with messages = get_flashed_messages() %}
		      			{% if messages %}
		          
		        		<ul>
		        		{% for message in messages %}
		            		<li> <strong> {{ message }} </strong> </li>
		       			{% endfor %}
		        		</ul>
		        		{% endif %}
		    		{% endwith %}

				</div>
		</div>
	</div>



	
	<div class="row padding-top padding-bottom">
		<div class="col-md-10 padding-none">		
		</div>
		<div class="col-md-1"></div>
		</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('showLogin')}}">Login to add new Sports</a>
				
		</div>
		<div class="col-md-1"></div>
	</div>
	
			{% for sport in sports %}
			<div class = "row padding-top padding-bottom">

				<div class = "col-md-2" id="sportName">
					<a href = "{{url_for('showPlayers', sport_id = sport.id)}}">
								<!-- <div class="col-md-10 sport-list"> -->
									<h3>{{sport.name}}</h3>
					</a>
				</div>	
				
	</div>			
			{% endfor %}
	{% endblock %}